@model SmartRetail.App.Web.Models.ViewModel.Products.ProductGroupViewModel

@{
    ViewBag.Title = "По группам";
    Layout = "_Layout";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("По товарам", "Index")</li>
        <li class="breadcrumb-item active"><a href="#">@Html.ActionLink("По группам", "Groups")</a></li>
    </ol>
</nav>

<div id="modDialog" class="modal fade" >
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<table class="table">
    <tbody id="tableBody">
    @foreach (var item in Model.Folders)
    {
        <tr>
            <td>
                <div class="row folder" id="@item.fullpath">
                    <img src="/img/folder.JPG" width="80px" height="80px">
                    <div class="col-md-4">
                        <p><b>@item.folder</b></p></div>
                </div>
            </td>
        </tr>
    }
    @foreach (var item in Model.Products)
    {
        <tr>
            <td>
                @{
                    var img = !string.IsNullOrEmpty(@item.ImgUrl) ? @item.ImgUrl : "/img/default.png";
                }
                <img src="@img" width="80px" height="80px" alt="@item.ProdName" class="img-circle">
                    
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdName)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit",
                    new {id = item.Id}, new {@class = "compItem btn btn-primary"})
            </td>
        </tr>
    }
    </tbody>
</table>


@section scripts
{
    <script type="text/javascript">

        var previousPath = "";
        var currentPath = "";
        var image = null;
        
        $(document).on('click',
            '.folder',
            function(s) {
                previousPath = getPreviousPath(s.currentTarget.id);
                currentPath = s.currentTarget.id;
                goIn(currentPath);
        
            });
        
        $(document).on('click',
            '.escape',
            function(s) {
                previousPath = getPreviousPath(s.currentTarget.id);
                currentPath = s.currentTarget.id;
                goIn(currentPath);
            });
        
        function goIn(fullPath) {
            var resp;
            var item = {
                fullpath: fullPath
            };
            $.ajax({
                type: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: "../ProductsPage/Groups",
                data: JSON.stringify(item),
                success: function(response) {
                    resp = response;
                    reRender(resp);
                },
                error: function(thrownError) {
                    console.error('Unable to goIn.', thrownError)
                }
            });
        
            return false;
        }
        
        function reRender(newLevel) {
            $('#tableBody').empty();
            $('.escape').remove();
            if (newLevel.folders.length != 0 && newLevel.folders[0].fullpath.split('/').length > 3) {
                $('#modDialog').after('<div class="mb-3"><button class="btn btn-primary escape" id="' +
                    getPreviousPath(newLevel.folders[0].fullpath) +
                    '">Назад</button></div>');
            } else if (newLevel.folders == null || newLevel.folders.length == 0) {
                $('#modDialog').after('<div class="mb-3"><button class="btn btn-primary escape" id="' +
                    getParentFolder(currentPath) +
                    '">Назад</button></div>');
            }
        
            for (var i = 0; i < newLevel.folders.length; i++) {
                $('#tableBody').append('<tr><td><div class="row folder" id="' +
                    newLevel.folders[i].fullpath +
                    '"><img src="/img/folder.JPG" width="80px" height="80px"><div class="col-md-4"><p><b>' +
                    newLevel.folders[i].folder +
                    '</b></p></div></div></td></tr>');
            }
        
            if (newLevel.products != null && newLevel.products.length != 0) {
                for (var i = 0; i < newLevel.products.length; i++) {
                    var prod = newLevel.products[i];
                    var img = prod.imgUrl.split('/').length == 0 ? "/img/default.JPG" : prod.imgUrl;
                    $('#tableBody').append('<tr><td><img src="' +
                        img +
                        '" width="80px" height="80px" alt="' +
                        prod.prodName +
                        '" class="img-circle">' +
                        '</td><td>' +
                        prod.prodName +
                        '</td>' +
                        '<td><a class="compItem btn btn-primary" href="/' +
                        prod.id +
                        '">Редактировать</a></td>' +
                        '</tr>');
                }
            }
        }
        
        function getPreviousPath(fullpath) {
            var path = fullpath.split('/');
            var newPath = "";
            for (var i = 1; i < path.length - 2; i++) {
                newPath += ("/" + path[i]);
            }
            return newPath;
        }
        
        function getParentFolder(fullpath) {
            var path = fullpath.split('/');
            var newPath = "";
            for (var i = 1; i < path.length - 1; i++) {
                newPath += ("/" + path[i]);
            }
            return newPath;
        }
        
        $(document).on('click','.compItem',
            function(e) {
                e.preventDefault();
                $.get(this.href,
                    function(data) {
                        $('#dialogContent').html(data);
                        $('#modDialog').modal('show');
                    });
            });
        
        function updateItem(id) {
            var itemId = id;
            var item = {
                Id: parseInt(itemId, 10),
                ProdName: document.getElementsByName('ProdName')[0].value.toString(),
                Price: parseFloat(document.getElementsByName('Price')[0].value),
                VendorCode: document.getElementsByName('VendorCode')[0].value.toString(),
                Color: document.getElementsByName('Color')[0].value.toString(),
                Size: document.getElementsByName('Size')[0].value.toString(),
                Cost: 0,
                Stock: 0,
                img: image,
                Vendor: "",
                UnitId: parseInt(document.getElementById('unit').value),
                CategoryId: 0
            };
            
            var formData = getFormData(item);
            formData.append('img', image);
            
            $.ajax({
                type: "PUT",
                url: "../ProductsPage/Edit",
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    $('#Result').removeClass("text-danger");
                    $('#Result').addClass("text-success");
                    $('#Result').text('Успешно!');
                    setTimeout(close, 1000);
                },
                error: function(thrownError) {
                    $('#Result').removeClass("text-success");
                    $('#Result').addClass("text-danger");
                    $('#Result').text("Не вышло... Попробуйте ещё раз.");
                    setTimeout(() => {$('#Result').text("");}, 1000);
                    
                    console.log(thrownError);
                }
            });
        }
        
        function close() {
            EmptyResultRow();
            $('#modDialog').modal('hide');
        }
        
        function EmptyResultRow() {
            $('#Result').text("");
        }
        
        $(document).on('click',
            '.imgChange',
            function(s) {
                var input = document.createElement('input');
                input.type = 'file';
                input.onchange = e => {
                    var file = e.target.files[0];
                    
                    if (isImage(file.type)) {
                        image = file;
                    }
                }

                input.click();
            });

        function isImage(type) {
            switch (type) {
            case "image/jpeg":
            case "image/png":
            case "image/jpg":
            case "image/raw":
            case "image/tiff":
            case "image/bmp":
            case "image/gif":
            case "image/jp2":
            case "image/pcx":
            case "image/ico":
                return true;
            default:
                return false;
            }
        }
        
        function getFormData(object) {
            var formData = new FormData();
            Object.keys(object).forEach(key => formData.append(key, object[key]));
            return formData;
        }
        
    </script>
}

